include README.md
include LICENSE
include pyproject.toml
recursive-include src/bluesky *.py
recursive-include src/bluesky/resources *.json *.xml *.yaml
recursive-include config/defaults *.ini *.template
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.swp
recursive-exclude * .DS_Store